.product-teaser {
  position: relative;
  text-align: center;
}

.product-teaser__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin: 5px 0;
}

.product-teaser__images,
.product-teaser__image {
  padding: 20px 20px 0;
  min-height: 240px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-teaser__colors {
  margin-top: 15px;
}

.product-teaser__info a {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url("../images/icon-info--blue.svg") no-repeat;
  background-size: 100% auto;
  display: block;
  height: 25px;
  position: absolute;
  right: 30px;
  top: 0;
  width: 25px;
}

.product-teaser__view-button {
  border: 1px solid #bac5d2;
  display: block;
  text-align: center;
  margin-top: 15px;
  padding: 5px 10px;
}
