.field--name-field-swatch {
  background: #efefef url(../images/noswatch.jpg) no-repeat 50% 50%;
  display: inline-block;
  line-height: 15px;
  vertical-align: top;
}

.field--name-field-swatch:hover {
  cursor: pointer;
}

.field--name-field-swatch img {
  width: 16px;
  height: 16px;
  display: block;
}

.product--rendered-attribute .form-radio {
  display: block;
  width: 0;
  height: 0;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.product--rendered-attribute ~ label {
  opacity: 1;
  transition: opacity .3 ease-out;
}

.product--rendered-attribute__selected ~ label.option {
  border: none;
}

.product--rendered-attribute input:active + label.option,
.product--rendered-attribute input:focus + label.option {
  outline-offset: -2px;
  outline: #4d90fe auto 5px;
  outline: -webkit-focus-ring-color auto 5px;
  border: none;
}

.product--rendered-attribute input[checked] + label.option {
  opacity: .9;
}

.form-item-purchased-entity-0-attributes-attribute-color {
  position: relative;
}

.form-item-purchased-entity-0-attributes-attribute-color label,
.form-item-purchased-entity-0-attributes-attribute-color label div {
  display: block;
  line-height: 16px;
  vertical-align: top;
}

.form-item-purchased-entity-0-attributes-attribute-color .ajax-progress {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
}

.form-item-purchased-entity-0-attributes-attribute-color .ajax-progress .throbber {
  padding: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.form-item-purchased-entity-0-attributes-attribute-color .ajax-progress .message {
  display: none;
}

.product-details__row::after {
  content: '';
  display: table;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .product-details__row {
    margin-bottom: 80px;
  }
}

.product-details__key-info {
  box-sizing: border-box;
}

@media screen and (min-width: 750px) {
  .product-details__key-info {
    float: left;
    padding-right: 60px;
    width: 50%;
  }
}

.product-details__media {
  box-sizing: border-box;
}

@media screen and (min-width: 750px) {
  .product-details__media {
    float: left;
    width: 50%;
  }
}

.product-details__title {
  color: #666;
  font-size: 35px;
  line-height: 35px;
  margin: 0 0 10px;
}

.product-details__subtitle {
  color: #666;
  font-size: 21px;
  margin: 0 0 20px;
}

.product-details__price {
  color: #666;
  font-size: 25px;
  font-weight: 200;
  line-height: 25px;
  margin-bottom: 30px;
}

.product-details__number .field--name-field-style-number::before {
  content: '#';
  display: inline;
}

.product-details__add-to-cart::after {
  content: '';
  display: table;
  width: 100%;
}

.product-details__add-to-cart .form-item,
.product-details__add-to-cart .form-actions,
.product-details__add-to-cart a {
  float: left;
}

.product-details__add-to-cart .add-to-cart-button {
  margin: 0 .5em;
}

.product-details__add-to-cart .out-of-stock {
  color: #999;
  display: inline-block;
  margin: .35em .5em;
}

.product-details__add-to-cart .find-in-store {
  display: inline-block;
  margin: .35em 0 .35em .3em;
}

.product-details__add-to-cart .product--rendered-attribute {
  float: none;
  margin: 30px 0 25px;
}

.product-details__add-to-cart .fieldgroup.attribute--color {
  float: none;
  position: relative;
}

.product-details__add-to-cart .fieldgroup.attribute--color img {
  cursor: pointer;
}

.product-details__add-to-cart .fieldgroup.attribute--color .ajax-progress {
  position: absolute;
}

.product-details__add-to-cart .fieldgroup.attribute--color .ajax-progress .message {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.product-details__add-to-cart .form-radio.attribute--color {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.product-details__add-to-cart .form-radio.attribute--color label {
  display: block;
}

.product-details__add-to-cart .form-radio.attribute--color:checked ~ label img {
  border: 1px solid #1b3e6a;
}

.product-details__fit {
  border-bottom: 1px solid #d1d8e1;
  margin-bottom: 25px;
  margin-top: 50px;
  padding-bottom: 14px;
}

.product-details__fit .field__label {
  color: #1b3e6a;
}

.product-details__fit .field__label::after {
  content: ':';
}

.product-details__fit .field--name-field-fit {
  display: inline;
}

.product-details__media-buttons {
  margin-bottom: 40px;
}

.product-details__media-button {
  display: inline-block;
  line-height: 0;
  margin-right: 10px;
}

.product-details__media-button__icon {
  vertical-align: middle;
}

.product-details__media-button__text {
  vertical-align: middle;
}

.product-details__row-title-wrapper {
  font-size: 30px;
  position: relative;
  text-align: center;
}

.product-details__row-title-wrapper::before {
  background: #d1d8e1;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 51%;
}

.product-details__row-title {
  background: #fff;
  display: inline-block;
  margin: 0;
  padding: 0 25px;
  position: relative;
  z-index: 10;
}

.product-details__row-description {
  text-align: center;
}

.product-details__technology {
  margin: 40px 0;
}

.product-details__technology-image {
  text-align: center;
  margin: 0 2%;
}

.product-details__technology-description h2, .product-details__technology-description h3, .product-details__technology-description h4, .product-details__technology-description h5 {
  color: #666;
  line-height: 1.3;
}

.product-details__technology-description p, .product-details__technology-description h2, .product-details__technology-description h3, .product-details__technology-description h4, .product-details__technology-description h5 {
  margin: 0 0 10px;
}

@media screen and (min-width: 400px) {
  .product-details__technology {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
  }
  .product-details__technology-image {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 26%;
  }
  .product-details__technology-description {
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
            flex: 1 1 0;
  }
}

.product-details__listing {
  margin-left: 20px;
  max-width: 800px;
}

.product-details__listing::after {
  content: '';
  display: table;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .product-details__listing {
    margin: 45px auto 0;
  }
}

.product-details__listing .field__item {
  box-sizing: border-box;
  color: #1b3e6a;
  font-size: 21px;
  line-height: 33px;
  padding: 5px 30px;
}

@media screen and (min-width: 660px) {
  .product-details__listing .field__item {
    float: left;
    width: 50%;
  }
}

.product-details__listing .field__item a {
  display: list-item;
}
