.retailer-selection-intro {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 130px 0 45px;
}

@media screen and (max-width: 650px) {
  .retailer-selection-intro {
    flex-direction: column;
  }
}

.retailer-selection-intro__title {
  color: #666;
  font-size: 19px;
}

.retailer-selection-intro__icon {
  background: url("../images/icon-shield--light-grey.svg") center center no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 25px;
  margin-right: 5px;
  width: 20px;
}

.retailer-selection-intro__text {
  color: #1b3e6a;
}
