.rotating-banner {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
}

.rotating-banner ul,
.rotating-banner ol,
.rotating-banner li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rotating-banner .slides {
  zoom: 1;
}

.rotating-banner .slides > li {
  -webkit-backface-visibility: hidden;
  display: none;
}

.rotating-banner .slides img {
  display: block;
  height: auto;
  -moz-user-select: none;
  width: 100%;
}

.rotating-banner .slides::after {
  clear: both;
  content: '\0020';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

html[xmlns] .rotating-banner .slides {
  display: block;
}

* html .rotating-banner .slides {
  height: 1%;
}

.no-js .rotating-banner .slides > li:first-child {
  display: block;
}

.rotating-banner .flex-container a:hover,
.rotating-banner .flex-slider a:hover {
  outline: none;
}

.rotating-banner .slides,
.rotating-banner .slides > li,
.rotating-banner .flex-control-nav,
.rotating-banner .flex-direction-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rotating-banner .flex-viewport {
  max-height: 2000px;
  transition: all 1s ease;
}

.loading .rotating-banner .flex-viewport {
  max-height: 300px;
}

.rotating-banner .flex-control-nav {
  display: none;
}

.rotating-banner .flex-direction-nav a {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 52px;
  margin: -13px 0 0;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  transition: all .3s ease-out;
  width: 52px;
  z-index: 10;
}

.rotating-banner .flex-direction-nav li .flex-next {
  background-image: url("../images/rotating-banner-next.svg");
  right: 10px;
}

.rotating-banner .flex-direction-nav li .flex-prev {
  background-image: url("../images/rotating-banner-prev.svg");
  left: 10px;
}

.rotating-banner .flex-direction-nav li .disabled {
  cursor: default;
  filter: alpha(opacity=30);
  opacity: .3;
}
