.store-locator-result {
  align-items: stretch;
  border-bottom: 1px solid #d1d8e1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 30px 10px;
}

.store-locator-result__column-one {
  width: 80px;
}

.store-locator-result__column-two {
  width: 350px;
}

.store-locator-result__column-three {
  width: 180px;
}

.store-locator-result__distance {
  color: #666;
  font-weight: bold;
  text-align: center;
}

.store-locator-result__name {
  color: #666;
  font-weight: bold;
  line-height: 23px;
  text-transform: uppercase;
}

.store-locator-result__address {
  color: #1b3e6a;
}

.store-locator-result__address p {
  margin: 0;
}
