.rotating-banner {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;

  ul,
  ol,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slides {
    zoom: 1;


    > li {
      // scss-lint:disable VendorPrefix
      -webkit-backface-visibility: hidden;
      display: none;
    }

    img {
      display: block;
      height: auto;
      // scss-lint:disable VendorPrefix
      -moz-user-select: none;
      width: 100%;
    }

    &::after {
      clear: both;
      content: '\0020';
      display: block;
      height: 0;
      line-height: 0;
      visibility: hidden;
    }

    // Flexslider hacks
    //scss-lint:disable SelectorDepth, QualifyingElement
    html[xmlns] & {
      display: block;
    }

    * html & {
      height: 1%;
    }

    .no-js & > li:first-child {
      display: block;
    }
    //scss-lint:enable SelectorDepth, QualifyingElement
  }

  // Custom flexslider styles for .rotating-banner
  //scss-lint:disable SelectorDepth
  .flex-container a:hover,
  .flex-slider a:hover {
    outline: none;
  }

  .slides,
  .slides > li,
  .flex-control-nav,
  .flex-direction-nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .flex-viewport {
    max-height: 2000px;
    transition: all 1s ease;

    .loading & {
      max-height: 300px;
    }
  }

  .flex-control-nav {
    display: none;
  }

}
