$graphite: #333;
$light-graphite: #666;
$white: #fff;

$yellow: #ff0;
$light-light-yellow: lighten($yellow, 40%);

$gray: #c9c9c9;
$med-gray: #999;
$light-gray: #efefef;

$blue: #1b3e6a;
$semi-light-blue: #bac5d2;
$light-blue: #dde2e9;
$light-light-blue: #d1d8e1;
$another-blue: #a3b1c3;

$base-font-color: $light-graphite;
$heading-font-color: $graphite;
$base-link-color: $blue;

$border-color: $gray;
