$graphite: #333;
$white: #fff;

$yellow: #ff0;

$gray: #c9c9c9;
$med-gray: #999;
$light-gray: #efefef;

$blue: #1b3e6a;
$light-blue: #dde2e9;

$base-font-color: $graphite;
$base-link-color: $blue;


$border-color: $gray;
