@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    width: 100%;
  }
}

// scss-lint:disable ImportantRule
@mixin visually-hidden() {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
  pointer-events: none;
}

@mixin hide-text() {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin button() {
  background: $blue;
  // This helps buttons align with elements that have borders.
  border: 1px solid $blue;
  color: $white;
  margin: 0;
  height: 2.19em;
  padding: .3em 1em;

  &:hover,
  &:active,
  &:focus {
    opacity: .8em;
  }
}


// scss-lint:disable UnnecessaryParentReference
@mixin firefox-only {
  @at-root {
    @-moz-document url-prefix() {
      & {
        @content;
      }
    }
  }
}
