.l-footer {
  background: $light-blue;
  overflow: hidden;
  padding: 8px 0;

  nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.block--footer-copyright {
  text-align: center;
}

.footer__logo,
.footer__copyright {
  clear: both;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
}

@include media('narrow') {
  .block--footer-copyright {
    float: left;
    margin-right: 20px;
    text-align: left;
  }

  .footer__logo,
  .footer__copyright {
    clear: none;
    display: inline-block;
    vertical-align: middle;
  }

  .menu--footer {
    > ul {
      font-size: 13px;
      line-height: 34px;
      text-transform: uppercase;

      li::after {
        content: ' | ';
        margin: 0 .2em;
      }

      li:last-child::after {
        content: '';
        margin: 0;
      }
    }
  }
}
