.l-header {
  @include clearfix;

  padding: 10px;

  @media screen and (min-width: $mobile-nav) {
    padding: 45px 0 60px;
  }

  .menu {
    margin-top: 1.1em;
    text-align: center;
  }

  .menu__toplevel,
  .menu__sublevel,
  .menu__item {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu__item {
    display: inline-block;
    padding: 0 .2em;

    a {
      display: inline-block;
      line-height: 22px;
      padding: .4em .8em;
    }
  }
}


.block--branding {
  float: left;
  width: 60%;
  padding-top: 5px;

  @media screen and (max-width: $mobile-nav) {
    max-width: 209px;
  }
}

@media screen and (max-width: $mobile-nav) {
  .l-header .menu {
    display: none;
  }
}

// Hide these sub items for now until the dropdown designs are complete.
.l-header .menu__sublevel {
  display: none;
}

@media screen and (min-width: 810px) {
  .block--branding {
    float: left;
    width: 30%;
  }

  .l-header .menu {
    float: right;
    width: 70%;
  }
}

@media screen and (min-width: 1040px) {
  .block--branding {
    float: left;
    width: 45%;
  }

  .l-header .menu {
    float: right;
    width: 54%;
  }
}
