.cart__summary {
  font-size: 14px;
  margin-left: 20px;
}

.cart__text,
.cart__icon,
.cart__count {
  display: inline-block;
  vertical-align: middle;
}

.cart__text--anonymous,
.cart__text--authenticated {
  display: none;
}

.not-logged-in .cart__text--anonymous,
.logged-in .cart__text--authenticated {
  display: inline-block;
}

.cart__icon {
  height: 21px;
  margin: 0 0 1px;
  width: 1px;

  .not-logged-in & {
    background-image: url('../images/icon-shopping-bag.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 21px;
    margin: 0 1px 1px;
    width: 13px;
  }
}

.cart__count {
  background-color: $light-blue;
  border-radius: .5em;
  font-size: 13px;
  line-height: 1em;
  padding: 0 .3em;
}
