.cart {

  @media screen and (max-width: 950px) {
    overflow-x: scroll;
    overflow-y: visible;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 960px;

    // reduce the min-width in a smaller layout.
    .noble-sidebarfirst__content & {
      min-width: 680px;
    }
  }

  th {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  // scss-lint:disable QualifyingElement
  th.views-field-purchased-entity,
  th.views-field-product-history,
  th.views-field-order-id,
  th.views-field-created {
    text-align: left;
  }

  td.views-field-product-history,
  td.views-field-order-id,
  td.views-field-created {
    padding: 0.1em 0;
  }

  .views-field-product-history ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cart__row {
    border-top: 1px solid $light-light-blue;
  }

  .cart__row--outstock {
    background: $light-red;
  }

  .views-field-edit-attributes {
    min-width: 280px;
  }

  .table-heading-attribute-color,
  .table-heading-attribute-size {
    float: left;
    width: 50%;
  }

  .attribute-widgets {
    .form-item {
      float: left;
      width: 50%;
    }

    select {
      background-color: transparent;
      background-position: center bottom 35px;
      background-size: 20px auto;
      border-bottom: 0;
      border-top: 0;
      margin-bottom: -1px;
      margin-top: -1px;
      min-height: 152px;
      padding: 0 20px;
      text-align: center;
      text-align-last: center;
      width: 100%;
    }

    label {
      @include visually-hidden();
    }
  }

  .form-item + .form-item select {
    border-left: 0;
  }

  // scss-lint:disable QualifyingElement
  td.views-field-purchased-entity {
    min-height: 130px;
    max-width: 530px;
  }


  .cart__product-image {
    margin: 10px;
    float: left;
    width: 85px;
  }

  .cart__row--outstock .cart__product-image {
    position: relative;
  }

  .cart__row--outstock .cart__product-image::before {
    background: transparent url('../images/icon-error--red.svg') center center no-repeat;
    background-size: 100%;
    content: '';
    display: block;
    height: 30px;
    left: calc(50% - 15px);
    opacity: .8;
    position: absolute;
    top: calc(50% - 15px);
    width: 30px;
  }

  .cart__row--outstock .cart__product-image:hover::before {
    opacity: 1;
  }

  .cart__product-info {
    float: left;
    clear: right;
    width: calc(100% - 105px);
    margin-top: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .field--name-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .cart__row--outstock .field--name-title {
    display: inline-block;
  }

  .field--name-sku {
    font-size: 15px;
    line-height: 27px;
  }

  .cart__row--outstock .field--name-sku {
    display: inline-block;
  }

  .cart__out-of-stock-message {
    float: left;
    width: calc(100% - 105px);
    padding-right: 10px;
    box-sizing: border-box;
  }

  .views-field-total-price__number {
    text-align: center;
  }

  .views-field-edit-quantity {
    text-align: center;
    border-right: 1px solid $light-light-blue;

    .form-number {
      background: $white;
      border: 1px solid $light-light-blue;
      box-sizing: border-box;
      height: 36px;
      padding-left: 9px;
      text-align: center;
      width: 39px;
    }
  }

  .views-field-remove-button {
    text-align: right;
  }

  .form-actions {
    margin-top: 25px;
    text-align: right;
  }

  .cart__total-price-row {
    background-color: $light-graphite;
    color: $white;
    font-weight: bold;
  }

  .cart__total-price-row-label {
    padding: 10px 15px;
    text-align: right;
    border-right: 1px solid $white;
  }

  .cart__total-price-row-amount {
    padding: 10px 15px;
    text-align: center;
  }
}

.cart--left-aligned th {
  text-align: left;
}
