// scss-lint:disable IdSelector SelectorFormat ImportantRule
#cboxWrapper {
  border-radius: 0;
}

#cboxMiddleLeft,
#cboxMiddleRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight {
  display: none;
}

#cboxContent {
  float: none !important;
  margin: 0 auto;
  overflow: visible;
  padding: 10px;

  @media screen and (min-width: 650px) {
    padding: 30px 50px;
  }
}

#cboxLoadedContent {
  margin: 0;
}
