.field--name-field-swatch {
  background: $light-gray url('../images/noswatch.jpg') no-repeat 50% 50%;
  display: inline-block;
  line-height: 15px;
  vertical-align: top;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 16px;
    height: 16px;
    display: block;
  }
}

.product--rendered-attribute .form-radio {
  display: block;
  width: 0;
  height: 0;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// Override and reset default "selected" functionality
// and resort to CSS native [checked] functionality.
// scss-lint:disable QualifyingElement
.form-radio.attribute--color label,
.product-details__add-to-cart label,
.product--rendered-attribute ~ label {
  opacity: 1;
  transition: opacity .2s ease-out;
  border: 0;
  cursor: pointer;
}

.form-radio.attribute--color input:active ~ label,
.form-radio.attribute--color input:focus ~ label,
.form-radio.attribute--color input:disabled ~ label,
.product-details__add-to-cart .form-radio:active ~ label,
.product-details__add-to-cart .form-radio:focus ~ label,
.product-details__add-to-cart .form-radio:disabled ~ label,
.product--rendered-attribute input:active ~ label,
.product--rendered-attribute input:focus ~ label,
.product--rendered-attribute input:disabled ~ label {
  border: 0;
  outline-offset: -2px;
  outline: $focus-ring-color auto 5px;
  outline: -webkit-focus-ring-color auto 5px;
}

.form-radio.attribute--color label:hover,
.form-radio.attribute--color input:active ~ label,
.form-radio.attribute--color input:disabled ~ label,
.product-details__add-to-cart label:hover,
.product-details__add-to-cart .form-radio:active ~ label,
.product-details__add-to-cart .form-radio:focus ~ label,
.product-details__add-to-cart .form-radio:disabled ~ label,
.product--rendered-attribute label:hover,
.product--rendered-attribute input:active ~ label,
.product--rendered-attribute input:focus ~ label,
.product--rendered-attribute input:disabled ~ label {
  opacity: .8;
  transition: opacity .3 ease-out;
}

.form-radio.attribute--color input:checked ~ label,
.product-details__add-to-cart .form-radio:checked ~ label,
.product--rendered-attribute input:checked ~ label,
.product--rendered-attribute__selected ~ label {
  border: 0;
  cursor: default;
  opacity: 1;
}


// scss-lint:enable QualifyingElement


.form-item-purchased-entity-0-attributes-attribute-color {
  position: relative;

  label,
  label div {
    display: block;
    line-height: 16px;
    vertical-align: top;
  }

  .ajax-progress {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    background: $white;

    .throbber {
      padding: 0;
      width: 16px;
      height: 16px;
      display: inline-block;
    }

    .message {
      display: none;
    }
  }
}

.fieldgroup.attribute--color {
  position: relative;

  .ajax-progress {
    position: absolute;

    .message {
      @include visually-hidden();
    }
  }
}

.form-radio.attribute--color {
  @include visually-hidden();

  label {
    display: block;
  }
}
