// scss-lint:disable IdSelector SelectorFormat ImportantRule
#cboxWrapper {
  border-radius: 0;
}

#cboxMiddleLeft,
#cboxMiddleRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight {
  display: none;
}

#cboxContent {
  float: none !important;
  margin: 0 auto;
  overflow: visible;
  padding: 10px;

  @media screen and (min-width: 650px) {
    padding: 30px 50px;
  }
}

#cboxLoadedContent {
  margin: 0;
}

.cboxIframe {
  max-width: 707px;
}

 // Ensure captions aren't pushed outside image into frame.
#cboxTitle {
  left: 10px;
  right: 10px;
  width: initial;

  @media screen and (min-width: 650px) {
    left: 50px;
    right: 50px;
  }
}

#cboxPrevious {
  background: url('../images/icon-previous.svg') no-repeat 50% 50%;
}

#cboxNext {
  background: url('../images/icon-next.svg') no-repeat 50% 50%;
}

#cboxClose {
  background: url('../images/icon-close.svg') no-repeat 50% 50%;
}

#cboxPrevious,
#cboxClose,
#cboxNext {
  opacity: 1;
  transition: opacity .2s ease-out;

  &:hover {
    background-position: 50% 50%;
    opacity: .8;
  }
}
