// Overrides for Google Custom Search
.gsc-wrapper {
  max-width: 640px;
  margin-top: 15px;
}

.gsc-above-wrapper-area {
  padding: 10px 0 15px;
}

.gcsc-branding {
  display: none;
}

.gsc-control-cse {
  margin: 0;

  &,
  .gsc-table-result {
    font-family: $maven-pro;
    font-size: 16px;
  }

  .gsc-table-result {
    max-width: 580px;
  }
}

.gsc-result-info,
.gsc-cursor-page {
  font-size: 15px;
}

.gsc-result-info {
  padding-left: 0;
}


.gsc-search-box-tools .gsc-search-box .gsc-input {
  font-size: 23px;
  line-height: 25px;
  color: $heading-font-color;
  font-family: $maven-pro;
  font-weight: bold;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus {
  border-color: $light-light-blue;
  height: auto !important;
}

.gsib_a {
  padding-bottom: 4px !important;
}

.gsst_a {
  padding-top: 8px !important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
  width: 13px !important;
  height: 13px !important;
  padding: 10px 27px !important;
  margin-top: 3px !important;
  border-radius: 0 !important;
}

.gs-webResult div.gs-visibleUrl-long {
  display: none !important;
}

.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top {

}

.gs-result .gs-title,
.gs-result .gs-title * {
  color: $heading-font-color;
  font-size: 20px !important;
  font-weight: bold;
  font-family: $maven-pro;
  height: auto !important;
  text-decoration: none !important;
  &:hover {
    text-decoration: underline !important;
  }
}

.gs-result .gs-title {
  margin: 10px 0;
}

.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet,
.gs-fileFormatType {
  font-size: 15px;
}

.gs-webResult .gs-snippet {
  b:nth-child(2) {
    color: black;
  }
}

.gsc-table-cell-snippet-close,
.gs-promotion-text-cell {
  vertical-align: middle;
}

.gs-image-box.gs-web-image-box.gs-web-image-box-portrait {
  width: 70px;
  height: 60px;
}
