.icon-twitter,
.icon-youtube,
.icon-facebook,
.icon-pinterest {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 31px;
  text-indent: -9999px;
  width: 35px;
}

.icon--small {
  height: 15px;
  width: 25px;
}

.icon-facebook {
  background-image: url('../images/icon-facebook--blue.svg');
  background-position: 0 50%;
  width: 22px;
}

.icon-twitter {
  background-image: url('../images/icon-twitter--blue.svg');
}

.icon-pinterest {
  background-image: url('../images/icon-pinterest--blue.svg');
}

.icon-youtube {
  background-image: url('../images/icon-youtube--blue.svg');
}
