// Convert pixel widths to percentages for the fluid grid. Note: The column
// widths are tied to the pixel width of their respective image style sizes.
$mg-width: 940px;
$mg-gutter: 20px / $mg-width * 100%;
$mg-col-33: 300px / $mg-width * 100%;
$mg-col-40: 376px / $mg-width * 100%;
$mg-col-50: 460px / $mg-width * 100%;
$mg-col-60: 544px / $mg-width * 100%;
$mg-col-66: 620px / $mg-width * 100%;

.row {
  margin: 0 auto;
  max-width: $mg-width;
  overflow: hidden;
  padding: 0;
  text-align: center;

  a,
  img {
    display: inline-block;
    height: auto;
    vertical-align: top;
    width: 100%;
  }

  .col {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 -4px $mg-gutter 0;
    vertical-align: top;
  }
}

// Override Instagram's oEmbed-generated styles
// scss-lint:disable ImportantRule
.instagram-media,
.instagram-media-registered {
  border: 0 !important;
  margin: 0 -8px !important;
  text-align: left;

  p {
    font-size: 10px;
  }

  &,
  div {
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin-top: 0 !important;
  }

  &,
  > div {
    margin: 0 !important;
    width: 100% !important;
  }

  > div {
    margin: 0 8px !important;
  }
}
// scss-lint:enable ImportantRule

.twitter-tweet-wrapper {
  border: 1px solid $border-color;
  padding: 20px;
  text-align: left;

  h3 {
    color: $blue;
    font-size: 24px;
    margin: 0;
  }
}

@media screen and (min-width:620px) {
  .row .col {
    display: block;
    float: left;
    margin: 0 0 $mg-gutter;
    text-align: left;
  }

  .row-1-1-1 {
    .col-1,
    .col-2,
    .col-3 {
      width: $mg-col-33;
    }

    .col-1 {
      margin-right: $mg-gutter / 2;
    }

    .col-2 {
      margin-left: $mg-gutter / 2;
      margin-right: $mg-gutter / 2;
    }

    .col-3 {
      margin-left: $mg-gutter / 2;
    }
  }

  .row-1-1,
  .row-2-1,
  .row-1-2,
  .row-2-3,
  .row-3-2 {
    .col-1 {
      margin-right: $mg-gutter / 2;
    }

    .col-2 {
      margin-left: $mg-gutter / 2;
    }
  }

  .row-1-1 .col {
    width: $mg-col-50;
  }

  .row-2-1 .col-1,
  .row-1-2 .col-2 {
    width: $mg-col-66;
  }

  .row-1-2 .col-1,
  .row-2-1 .col-2 {
    width: $mg-col-33;
  }

  .row-2-3 .col-1,
  .row-3-2 .col-2 {
    width: $mg-col-40;
  }

  .row-3-2 .col-1,
  .row-2-3 .col-2 {
    width: $mg-col-60;
  }
}
