.menu-icon {
  display: block;
  position: relative;
  padding: 0 10px;
}

.menu-icon__line {
  background: $white;
  border-radius: 2px;
  position: absolute;
  margin-top: 21px;
  display: block;
  height: 2px;
  width: 30px;
  transition: all .25s ease-in-out;

  .has-mobile-nav & {
    background: $blue;
  }
}

.menu-icon__line--one {
  transform: translateY(-8px);

  .has-mobile-nav & {
    transform: translateY(0) rotate(45deg);
  }
}

.menu-icon__line--two {
  margin-top: 21px;

  .has-mobile-nav & {
    opacity: 0;
  }
}

.menu-icon__line--three {
  transform: translateY(8px);

  .has-mobile-nav & {
    transform: translateY(0) rotate(-45deg);
  }
}
