// Disable scrolling when the mobile nav is active.
.has-mobile-nav {
  overflow: hidden;
}

.mobile-nav {
  background: $white;
  border: solid $blue;
  border-width: 0 0 1px 1px;
  opacity: 0;
  pointer-events: none;
  padding-top: 20px;
  position: absolute;
  left: 30px;
  right: 0;
  top: 45px;
  transform: translateX(100vw);
  transition: opacity .5s ease-out, transform .25s ease-out;

  &:target,
  &.is-open {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
}

.mobile-nav__background {
  background-color: rgba($blue, .15);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s ease-out;

  .has-mobile-nav & {
    opacity: 1;
    pointer-events: auto;
  }
}

// scss-lint:disable SelectorDepth
.menu--mainnavigation-mobile {

  .menu__toplevel {
    list-style-type: none;
    margin: 0;
    padding: 0 0 30px 20px;
  }

  .menu__item {
    position: relative;
  }

  .menu__item a {
    color: $blue;
    font-size: 20px;
    line-height: 28px;
    background: $light-blue;
    display: block;
    padding: 5px;
    margin-top: 1px;
  }

  .menu__toggle {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .menu__sublevel {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu__sublevel .menu__item a {
    background: none;
    font-size: 16px;
    line-height: 21px;

    &::before {
      content: '>';
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.block--menucartblock {
  position: relative;
}

.mobile-nav .menu-cart__item,
.mobile-nav .menu-item-store-locator {
  background: $blue;
  color: $white;
  display: block;
  margin: 0;
  padding: 5px 5px 5px 15px;
  margin-top: 1px;

  &::after {
    content: none;
  }

  &::before {
    content: '';
    background: no-repeat center right;
    background-size: auto 100%;
    display: inline-block;
    margin-right: 5px;
    height: 20px;
    width: 22px;
    vertical-align: -5px;
  }
}

.mobile-nav .menu-cart__item--login::before {
  background-image: url('../images/icon-login--white.svg');
}

.mobile-nav .menu-cart__item--logout::before {
  background-image: url('../images/icon-logout--white.svg');
}

.mobile-nav .menu-cart__item--shopping-bag::before {
  background-image: url('../images/icon-shopping-bag--white.svg');
}

.mobile-nav .menu-item-store-locator::before {
  background-image: url('../images/icon-location--white.svg');
}

.mobile-nav .menu-cart__item--count {
  background: $white;
  color: $blue;
  display: inline-block;
  padding: 3px 5px;
  line-height: 1em;
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 6px;

  &::before {
    content: none;
  }
}

.mobile-nav__trigger {
  @include hide-text();
  background: $blue url('../images/icon-menu--white.svg') no-repeat center center;
  background-size: 25px auto;
  display: block;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;

  @media screen and (min-width: $mobile-nav) {
    display: none;
  }

  .has-mobile-nav & {
    background-color: $white;
    background-image: url('../images/icon-menu--blue.svg');
    border-left: 1px solid $blue;
    z-index: 10;
  }
}
