@media screen and (max-width: $mobile-nav) {
  .mobile-header {
    border-bottom: 1px solid $light-light-blue;
    padding: 0;
    position: relative;
    z-index: 10;

    .has-mobile-nav & {
      border-bottom-color: $blue;
    }
  }

  .mobile-header__wrapper {
    position: relative;
  }

  .mobile-header .l-contained {
    padding: 0;
  }

}
