.block--welcomedealertopbar {
  float: left;
  font-size: 14px;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;

    li {
      border-right: 1px solid $light-light-blue;
      display: inline;
      margin-right: 10px;

    }

    li:last-child {
      border: 0;
    }
  }
}

.block--menu-cart-block {
  font-size: 14px;
  margin: 0 30px 0 0;
  padding: 0;
  text-transform: uppercase;

  div {
    display: inline-block;
    padding: 0;
    white-space: nowrap;

    > a {
      margin: 0 0 0 20px;
    }
  }
}

.l-top {
  .cart__link {
    display: inline-block;
    opacity: 1;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
  }

  &.searchopen .menu__item a,
  &.searchopen .cart__link {
    animation-timing-function: ease;
    opacity: 0;
    transform: scale3d(1, .65, 1);
  }
}

.menu-item-store-locator {
  &::before {
    background-image: url('../images/icon-location.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 21px;
    margin: 0 1px 1px;
    vertical-align: top;
    width: 21px;
  }
}

.menu-item-logout {
  &::after {
    background-image: url('../images/icon-logout.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 21px;
    margin: 0 1px 1px 3px;
    vertical-align: top;
    width: 21px;
  }
}

.menu-item-login {
  &::after {
    background-image: url('../images/icon-login.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 21px;
    margin: 0 1px 1px 3px;
    vertical-align: top;
    width: 21px;
  }
}

.menu-item-order-history {
  &::after {
    background-image: url('../images/icon-order-history.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 21px;
    margin: 0 1px 1px;
    vertical-align: top;
    width: 21px;
  }
}

.menu-item-account {
  &::after {
    background-image: url('../images/icon-account.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 21px;
    margin: 0 1px 1px;
    vertical-align: top;
    width: 21px;
  }
}
