.product-catalog {
  @media screen and (min-width: 500px) {
    display: flex;
    flex-flow: row wrap;
  }
}

.product-catalog__item {
  box-sizing: border-box;
  margin-bottom: 80px;
  padding: 0 10px;

  @media screen and (min-width: 500px) {
    width: 50%;
  }

  @media screen and (min-width: 650px) {
    width: 33%;
  }
}

.product-catalog .pager {
  width: 100%;
}
