
.block--search {
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 15;

  @include media(mobile-nav) {
    right: 40px;
  }

  .searchopen & {
    margin: 0 auto;
    max-width: $page-width;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .form-item {
    margin-right: 42px;

    @include media(mobile-nav) {
      margin-left: 20px;
    }
  }

  .form-search {
    appearance: none;
    border-radius: 0;
    border-bottom: 0;
    border-left: 1px solid $light-blue;
    border-right: 0;
    border-top: 0;
    font-size: 18px;
    height: 42px;
    line-height: normal;
    padding: 0 10px;
    width: 100%;

    @include media(mobile-nav) {
      height: 44px;
    }
  }

  .form-actions {
    height: 42px;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
  }

  .form-submit {
    background: $blue url('../images/icon-search-submit--header.svg') no-repeat 50% 50%;
    border: 0;
    display: block;
    height: 42px;
    text-indent: -9999px;
    width: 42px;

    @include media(mobile-nav) {
      display: none;
    }
  }

  form {
    display: none;
    position: relative;
    vertical-align: middle;

    .searchopen & {
      display: inline-block;
      max-width: 680px;
      width: 80%;

      @include media(mobile-nav) {
        width: 90%;
      }
    }
  }

  .contextual .trigger {
    left: 102%;
    margin-top: -6px;
    right: inherit;
  }
}

.searchform__toggle {
  background: none;
  border: 0;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 9px;
  vertical-align: middle;
  width: 18px;

  @include media(mobile-nav) {
    height: 28px;
    right: 30px;
    top: 5px;
    width: 28px;
  }
}

.searchform__open {
  background: url('../images/icon-search-toggle.svg') no-repeat 0 0;
  background-size: contain;
  display: inline-block;
  height: 0;
  opacity: 1;
  padding-bottom: 100%;
  position: absolute;
  top: 4px;
  left: 20%;
  transition: opacity .2s ease;
  width: 100%;

  .searchopen & {
    opacity: 0;
  }
}

.searchform__close-left,
.searchform__close-right {
  background: $blue;
  display: inline-block;
  height: 0;
  opacity: 0;
  padding-bottom: 100%;
  position: absolute;
  top: 4px;
  left: 80%;
  transform: rotate(0deg);
  transition: transform .25s ease-out .1s, opacity .2s ease;
  width: 1px;
  z-index: 1;
}

.searchform__close-left {
  .searchopen & {
    opacity: 1;
    transform: rotate(45deg);
  }
}

.searchform__close-right {
  .searchopen & {
    opacity: 1;
    transform: rotate(-45deg);
  }
}
