.block--sitewidecontactform {
  .form-email {
    border: 0;
    box-sizing: border-box;
    padding: .3em .8em;
    width: 100%;
  }

  .field--name-field-email-address {
    display: inline-block;
  }

  .form-actions {
    display: inline-block;
  }
}

