.l-top {
  border-bottom: 1px solid $light-light-blue;
  padding: 8px 0;
  text-align: right;
}

.block--search,
.block--shoppingcart,
.menu--account-menu,
.menu--topbarb2c,
.menu--topbarb2b {
  display: inline-block;
  vertical-align: middle;
}
