.skip-to-content {
  background: $blue;
  color: $white;
  display: block;
  -webkit-font-smoothing: antialiased;
  height: 0%;
  opacity: 0;
  outline: none;
  text-align: center;
  top: -40px;
  transform: top .4s ease-out;

  &:focus {
    opacity: 1;
    top: 0;
  }
}

.l-top {
  border-bottom: 1px solid $light-light-blue;
  min-height: 24px;
  text-align: right;

  .block {
    display: inline-block;
    vertical-align: middle;
  }
}

.l-top-left {
  float: left;
}

.l-top-right {
  float: right;
}

.l-contained--top {
  padding: 9px 2%;
  position: relative;
}
