.l-top {
  border-bottom: 1px solid $light-light-blue;
  padding: 8px 0;
  text-align: right;
}

.block--search,
.block--shoppingcart,
.menu--account-menu,
.menu--topbarb2c,
.menu--topbarb2b {
  display: inline-block;
  vertical-align: middle;
}

.menu--topbarb2c,
.menu--topbarb2b {
  font-size: 14px;
}

.menu__toplevel--top-bar-b2b,
.menu__toplevel--top-bar-b2c {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item--top-bar-b2c,
.menu__item--top-bar-b2b {
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 0;

  &:first-child {
    float: left;
    margin-left: 0;
  }
}
