@import
'../util/colors',
'../util/variables',
'../util/mixins';

@import 'color-swatches';

.facet {
  @media screen and (min-width: 600px) {
    margin-bottom: 50px;
  }

  [aria-expanded=false] & {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

}

.facet__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  @media screen and (min-width: 600px) {
    margin: 0 0 20px;
  }
}

.facet-item {
  line-height: 40px;
}

.facet__collapsible-title {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
    background-color: $blue;
    color: $white;
    text-align: center;
    font-weight: 300;
  }

  .menu__toggle {
    height: 21px;
    width: 16px;
    padding: 4px;
    top: 4px;
    right: 4px;
  }

  .menu__toggle-horizontal {
    background-color: $white;
    left: 5px;
    top: 12px;
    width: 16px;
  }

  .menu__toggle-vertical {
    background-color: $white;
    left: 12px;
    top: 5px;
    height: 16px;
    [aria-expanded="true"] & {
      transform: rotate(90deg);
      transition: transform .3s ease-out .1s, background .3s ease-out;//opacity .2s ease;
    }
  }
}
