// General layout of the product details page.
@import
'../util/colors',
'../util/variables',
'../util/mixins';

.product-teaser {
  position: relative;
  text-align: center;
}

.product-teaser__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin: 5px 0;
}

.product-teaser__image {
  padding: 20px 20px 0;
}

.product-teaser__colors {
  margin-top: 15px;
}

.product-teaser__info a {
  @include hide-text();
  background: url('../images/icon-info--blue.svg') no-repeat;
  background-size: 100% auto;
  display: block;
  height: 25px;
  position: absolute;
  right: 30px;
  top: 0;
  width: 25px;
}
