// General layout of the product details page.
@import
'../util/colors',
'../util/variables',
'../util/mixins';

.product-teaser {
  position: relative;
  text-align: center;
}

.product-teaser__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin: 5px 0;
}

.product-teaser__images, // Used on catalogs
.product-teaser__image { // Used on outfits
  padding: 0;

  // Ensure the bottom alignment of small product images like mittens and caps
  // look ok next to larger images on outfits and catalog pages.
  min-height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-teaser__colors {
  margin-top: 15px;
}

.product-teaser__view-button {
  border: 1px solid $semi-light-blue;
  display: block;
  text-align: center;
  margin-top: 15px;
  padding: 5px 10px;
}
