// General layout of the product details page.
@import
'../util/colors',
'../util/variables',
'../util/mixins';

.product-teaser {
  text-align: center;
}

.product-teaser__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin: 5px 0;
}

.product-teaser__colors {
  margin-top: 15px;
}
