@import
'../util/colors',
'../util/variables',
'../util/mixins';

.recommendations-cart {
  align-items: center;
  border: 1px solid $border-color;
  border-width: 1px 0;
  display: flex;
  flex-flow: row wrap;
}

.recommendations-cart__products {
  border-right: 1px solid $border-color;
  padding: 10px 15px 10px 0;
  width: 250px;
}

.recommendations-cart__details {
  flex-grow: 2;
  font-size: 18px;
  line-height: 21px;
  padding-left: 30px;
}

.recommendations-cart__details-label {
  display: block;
}

.recommendations-cart__details-price {
  font-weight: bold;
}

.recommendations-cart__links {
  text-align: right;
}

.recommendations-cart__links a {
  @include button();
}
