select {
  appearance: none;
  background: $white url('../images/icon-arrow-down--blue.svg') right 10px top 16px no-repeat;
  background-size: 10px auto;
  border: 1px solid $semi-light-blue;
  border-radius: 0;
  box-sizing: border-box;
  color: $blue;
  line-height: 1.5em;
  padding: .3em 31px .3em 10px;
}

@-moz-document url-prefix(){
  select {
    padding-top: .375em;
    padding-bottom: .375em;
  }
}

[type="checkbox"] {
  margin-right: 5px;
}
