{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-checkout-form clearfix">
  <div class="layout-region layout-region-checkout-cart">
    <h3>{% trans %} Your Shopping Bag {% endtrans %}</h3>
    {{ form.order_summary }}
  </div>
  <div class="layout-region layout-region-checkout-details">
    <h3>{% trans %} Secure Checkout {% endtrans %}</h3>
    {{ form|without('order_summary', 'actions') }}
  </div>
  <div class="layout-region layout-region-checkout-footer">
    {{ form.actions }}
  </div>
</div>
