{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<h3>{% trans %} Your Shopping Bag {% endtrans %}</h3>
{{ form.order_summary }}
{{ attach_library('noble/noble-sidebarfirst-layout') }}

<div class="noble-sidebarfirst clearfix">
  <h3 class="checkout-form-vip__title">{% trans %} Secure Checkout {% endtrans %}</h3>
  {{ form|without('order_summary', 'actions') }}
  <div class="checkout-form-vip__actions">
    {{ form.actions }}
  </div>
</div>
