<div class="outfit-detail__variation-listing-item">
  <div class="product-teaser">
    {{ view }}
    <div class="input-group product-teaser__colors">
      <div class="input-group__item">
        {{ size }}
      </div>
      <div class="input-group__item input-group__submit">
        {{ submit }}
      </div>
    </div>
  </div>
</div>
