{{ attach_library('noble/retailer-selection') }}

<div class="retailer-selection-row">
  <div class="retailer-selection-row__logo">
    {{ logo }}
  </div>
  <div class="retailer-selection-row__products">
    {{ products }}
  </div>
  <div class="retailer-selection-row__link">
    {{ link }}
  </div>
</div>
