{{ attach_library('noble/retailer-selection') }}
<div class="retailer-selection-intro">
  <i class="retailer-selection-intro__icon"></i>
  <h3 class="retailer-selection-intro__title">{{title}} </h3>
  <p class="retailer-selection-intro__text">&nbsp;—&nbsp;{{text}}</p>
</div>
