<div class="retailer-redirect">
  <div class="retailer-redirect__logo">{{logo}}</div>
  <strong class="retailer-redirect__message">{{message}}</strong>
  <div class="retailer-redirect__progress">{{progressbar}}</div>
  {{redirect}}
</div>
