{{ attach_library('noble/vip-congrats') }}

<div class="vip-congrats">
  <h1 class="vip-congrats__title">{% trans %} Congratulations {{ name }} {% endtrans %}</h1>
  <p class="vip-congrats__message">{% trans %} Thank you for taking the time to register as VIP user. We believe that education will help you differentiate our products from the competition. As a bonus for watching the video, we want to offer you exciting discounts on our products. Thanks again and happy shopping! {% endtrans %}</p>
  {% trans %} {{ buttons.deals }} or {{ buttons.watch }} {% endtrans %}
</div>
