{{ attach_library('noble/checkout-form-vip') }}
<div class="noble-sidebarfirst__sidebar">
  <div class="checkout-form-vip__shipping">
    <h4>{% trans %}Shipping address{% endtrans %}</h4>
    {{ profile }}
    {{ edit_link }}
  </div>
</div>
